Language: Cpp
BasedOnStyle: Microsoft
UseTab: Always
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
